.weather {
  border: 1px solid blue;
  border-radius: 4px;
  padding: 10px;
  background-color: beige;
}
.weather form {
  margin-left: 4px;
}

.submit {
  margin-left: 4px;
}
.weather li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather .unity {
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}
.weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.weather canvas {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}
